#!/bin/sh
mount -o remount,rw /

{% set ntp_srv = ntp_servers | default(["193.206.84.121", "193.206.84.122", "193.206.84.123"]) %}

{%- for srv in ntp_srv %}
echo "server {{ srv }}" {% if loop.first %}>{% else %}>>{% endif %} /etc/openntpd/ntpd.conf
{%- endfor %}

ntpd -s
/etc/init.d/libera restart
./st.cmd
